<div class="rcmBody"><p>Hello <%= list.shareEmail %>!</p>

<p><%= sender.name %> has shared the follwing list with you.</p>

<p><a href="<%= originUrl %>/workspace/<%= list.work_space %>/lists" ><%= list.name %></a></p>

<p>If you didn't request this, please ignore this email.</p>
<p>
     Regards
     <br/>
     GC Support Team
</p> 